<?xml version="1.0" standalone="yes"?>
<nameSpace>
  <appSettings xmlns="configuration">
    <RecentFile></RecentFile>
    <AutoSavePath>D:\</AutoSavePath>
    <AutoSaveCount>3</AutoSaveCount>
    <AutoSaveFunctionTime>10</AutoSaveFunctionTime>
    <AutoLoadSubEncoding>utf8</AutoLoadSubEncoding>
    <TimeMBufPath>D:\</TimeMBufPath>
  </appSettings>
</nameSpace>